<div
  class="bg-cover bg-center header-image p-8 relative"
  [style.background-image]="currentUrl$ | async"
>
  <app-navigation></app-navigation>
  <div class="absolute left-8 right-8 bottom-8">
    <div class="max-w-screen-xl mx-auto flex flex-col items-start space-y-4">
      <h2 class="text-xl lg:text-4xl text-black font-medium">
        <span class="bg-white px-2">{{ currentText$ | async }}</span>
      </h2>
      <markdown
        [data]="currentInfo$ | async"
        class="prose text-black bg-white px-2"
      ></markdown>
    </div>
  </div>
</div>
<!--<div class="bg-gray-700 p-8 text-white">
  <div class="mx-auto max-w-screen-xl">
    <h1 class="text-4xl font-bold text-blue-500">
      Spree Break
    </h1>
    <p>
      If you where wondering, this is where I'd advertise the spreebreak during
      the times leading up to it, but it don't see it cluttering our main
      navigation
    </p>
    <button
      class="inline-block text-lg px-4 py-2 leading-none border rounded text-white border-blue-500 hover:text-gray-200 hover:bg-blue-800 mt-4"
    >
      Learn more
    </button>
  </div>
</div>-->
<div class="bg-gray-800 px-8 py-2">
  <div class="flex justify-between text-white mx-auto max-w-screen-xl">
    <div class="text-center">
      <h2 class="text-4xl">42</h2>
      <p class="text-lg">Countries</p>
    </div>
    <div class="text-center">
      <h2 class="text-4xl">39</h2>
      <p class="text-lg">German sections</p>
    </div>
    <div class="text-center hidden lg:block">
      <h2 class="text-4xl">15 000</h2>
      <p class="text-lg">European volunteers</p>
    </div>
    <div class="text-center">
      <h2 class="text-4xl">10 600</h2>
      <p class="text-lg">Exchange students</p>
    </div>
  </div>
</div>
<div class="bg-blue-800 relative p-8" style="padding-top: calc(5vmin + 2rem);">
  <div class="custom-shape-divider-top-1599893070">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="text-white mx-auto max-w-screen-xl space-y-4 text-center">
    <h1 class="text-3xl lg:text-5xl">International student life. Better</h1>
    <p>
      Right now I'm really not sure if this should be the first thing anyone is
      going to read about us. We should make sure to put the most essential info
      about esn germany right here since there's a chance people are actually
      still reading at this point.
      <br />
      Some very interesting text about what esn is and what we do all day, it's
      vitally important that we have a whole bunch of pictures and/or
      illustrations on this page to make it more interesting to look at. <br />
      This text should also share the screen with at least one illustration,
      maybe in white monochrome colors.
    </p>
    <div class="flex space-x-2">
      <button
        class="inline-block text-lg px-4 py-2 leading-none border rounded text-white border-white hover:text-gray-200 hover:bg-blue-900 mt-4"
      >
        Visit esn.org
      </button>
    </div>
    <h1 class="text-4xl">About ESN Germany</h1>
    <p>
      The Erasmus Student Network Deutschland e.V. is the consolidation of the
      German local Erasmus student initiatives. In 38 sections our voluntary
      members take care of approximately 10.600 exchange students every year. In
      Europe there are local ESN sections at more than 500 higher education
      facilities in more than 40 countries. This makes us one of the largest
      student initiatives in Europe.
    </p>
    <p>
      Our call to action is this collection of buttons to direct the people to
      where we think they should go
    </p>
    <div class="flex space-x-2">
      <button
        class="inline-block text-lg px-4 py-2 leading-none border rounded text-white border-white hover:text-gray-200 hover:bg-blue-900 mt-4"
      >
        Find your section
      </button>
      <button
        class="inline-block text-lg px-4 py-2 leading-none border rounded text-white border-white hover:text-gray-200 hover:bg-blue-900 mt-4"
      >
        Become a partner
      </button>
    </div>
  </div>
</div>
<div class="relative p-8" style="padding-top: 12vmin;">
  <div class="custom-shape-divider-top-1599893662">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
        opacity=".25"
        class="shape-fill"
      ></path>
      <path
        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
        opacity=".5"
        class="shape-fill"
      ></path>
      <path
        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
  <div class="mx-auto max-w-screen-xl">
    <h1 class="text-4xl mb-4">ESN in pictures</h1>
  </div>
  <div class="w-full grid grid-cols-1 lg:grid-cols-3 grid-flow-row-dense gap-8">
    <div
      *ngFor="let image of imageGrid"
      class="image layout-{{ image.size }} relative"
    >
      <div class="aspect-ratio-{{ image.ratio }}"></div>
      <img
        src="{{ image.image.fields.file.url }}{{ image.query }}"
        class="absolute left-0 top-0 w-full h-full object-cover"
      />
      <span>{{ image.name }}</span>
    </div>
  </div>
  <!--<div class="mx-auto max-w-screen-xl">
    <h1 class="text-4xl mb-4">The ESNcard</h1>
    <img
      src="/assets/illustrations/card.svg"
      class="w-full float-left mr-4 mb-4"
      style="max-width: 16rem;"
    />
    <p>
      Kleine Karte – große Sache: Die ESNcard ist eine Mitgliedskarte für alle
      ESN Mitglieder und internationale Studenten, mit denen sie sich als Teil
      des ESN-Netzwerkes ausweisen können. Alle Besitzer der ESNcard erhalten in
      teilnehmenden Städten besondere Konditionen in Geschäften, Lokalen oder
      Übernachtungsangebote. Die ESNcard wird von den ESN-Sektionen vor Ort
      vertrieben, gilt jedoch international. Der Preis der ESNcard und die damit
      verbundenen Konditionen sind dabei lokal sehr verschiedenen.
    </p>
    <div class="flex space-x-2">
      <button
        class="inline-block text-lg px-4 py-2 leading-none border rounded text-black border-black hover:text-gray-800 hover:bg-gray-200 mt-4"
      >
        Visit esncard.org
      </button>
      <button
        class="inline-block text-lg px-4 py-2 leading-none border rounded text-black border-black hover:text-gray-800 hover:bg-gray-200 mt-4"
      >
        Become a partner
      </button>
    </div>
  </div>
  <div class="mx-auto max-w-screen-xl mt-8">
    <h1 class="text-4xl mb-4">The people</h1>
    <img
      src="/assets/illustrations/community.svg"
      class="w-full float-right ml-4 mb-4"
      style="max-width: 16rem;"
    />
    <p>
      Kleine Karte – große Sache: Die ESNcard ist eine Mitgliedskarte für alle
      ESN Mitglieder und internationale Studenten, mit denen sie sich als Teil
      des ESN-Netzwerkes ausweisen können. Alle Besitzer der ESNcard erhalten in
      teilnehmenden Städten besondere Konditionen in Geschäften, Lokalen oder
      Übernachtungsangebote. Die ESNcard wird von den ESN-Sektionen vor Ort
      vertrieben, gilt jedoch international. Der Preis der ESNcard und die damit
      verbundenen Konditionen sind dabei lokal sehr verschiedenen.
    </p>
    <div class="flex space-x-2">
      <button
        class="inline-block text-lg px-4 py-2 leading-none border rounded text-black border-black hover:text-gray-800 hover:bg-gray-200 mt-4"
      >
        Learn about the network
      </button>
    </div>
  </div>-->
</div>
<div class="p-8 bg-gray-300 relative" style="padding-top: 6vmin;">
  <div class="custom-shape-divider-top-1599899787">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M649.97 0L550.03 0 599.91 54.12 649.97 0z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
  <div class="mx-auto max-w-screen-xl">
    <p class="text-4xl mb-8">Upcoming ESN events</p>
    <app-calendar [events]="events"></app-calendar>
  </div>
</div>
<div class="bg-gray-800 p-8 relative" style="padding-top: 6vmin;">
  <div class="custom-shape-divider-top-1599900120">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
  <div class="text-white mx-auto max-w-screen-xl">
    <div class="flex justify-between flex-col lg:flex-row">
      <div>
        <p class="font-medium mb-2">Address</p>
        <p class="mb-2">Erasmus Student Network Deutschland e.V.</p>
        <p class="mb-2">
          c/o International Office Ruhr <br />Universität Bochum
          <br />Universitätsstraße 150 <br />44780 Bochum
        </p>
        <p class="mb-4">
          Vereinsregisternummer: <br />VR 3762 – Amtsgericht Bochum
        </p>
        <p class="font-medium mb-2">E-Mail</p>
        <p>board@esn-germany.de</p>
      </div>
      <div class="flex flex-col space-y-2">
        <p class="font-medium">Links</p>
        <a href="#">Impressum</a>
        <a href="#">Data Privacy</a>
        <a href="#">Code of Conduct</a>
        <a href="#">Statutes and standing orders</a>
        <a href="#">SpreeBreak</a>
      </div>
      <div class="flex flex-col space-y-2">
        <p class="font-medium">External Links</p>
        <a href="#">ESNcard.org</a>
        <a href="#">erasmusIntern.org</a>
        <a href="#">ESN.org</a>
      </div>
    </div>
  </div>
</div>
