<div
  class="bg-cover bg-center header-image p-8 relative"
  [style.background-image]="currentUrl$ | async"
>
  <app-navigation></app-navigation>
  <div class="absolute bottom-8 left-8 right-8">
    <div class="max-w-screen-xl mx-auto flex flex-col items-start space-y-4">
      <p class="text-4xl text-black font-medium bg-white px-2">
        {{ currentText$ | async }}
      </p>
      <markdown
        [data]="currentInfo$ | async"
        class="prose text-black bg-white px-2"
      ></markdown>
    </div>
  </div>
</div>
<div class="bg-gray-800 p-8 pb-0">
  <div class="flex justify-between text-white mx-auto max-w-screen-xl">
    <div class="text-center">
      <p class="text-4xl">42</p>
      <p class="text-lg">Countries</p>
    </div>
    <div class="text-center">
      <p class="text-4xl">39</p>
      <p class="text-lg">German sections</p>
    </div>
    <div class="text-center">
      <p class="text-4xl">15 000</p>
      <p class="text-lg">European volunteers</p>
    </div>
    <div class="text-center">
      <p class="text-4xl">10 600</p>
      <p class="text-lg">Exchange students</p>
    </div>
  </div>
</div>
<div class="bg-blue-800 relative p-8" style="padding-top: 12vmin;">
  <div class="custom-shape-divider-top-1599893070">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="text-white mx-auto max-w-screen-xl space-y-4">
    <h1 class="text-4xl">What is ESN?</h1>
    <p>
      Some very interesting text about what esn is and what we do all day, it's
      vitally important that we have a whole bunch of pictures and/or
      illustrations on this page to make it more interesting to look at. <br />
      This text should also share the screen with at least one illustration,
      maybe in white monochrome colors.
    </p>
    <h1 class="text-4xl">About ESN Germany</h1>
    <p>
      Some very interesting text about what esn is and what we do all day, it's
      vitally important that we have a whole bunch of pictures and/or
      illustrations on this page to make it more interesting to look at. <br />
      This text should also share the screen with at least one illustration,
      maybe in white monochrome colors.
    </p>
    <p>
      Our call to action is this collection of buttons to direct the people to
      where we think they should go
    </p>
    <div class="flex space-x-2">
      <button
        class="inline-block text-lg px-4 py-2 leading-none border rounded text-white border-white hover:text-gray-200 hover:bg-blue-900 mt-4"
      >
        For Students
      </button>
      <button
        class="inline-block text-lg px-4 py-2 leading-none border rounded text-white border-white hover:text-gray-200 hover:bg-blue-900 mt-4"
      >
        For ESNers
      </button>
      <button
        class="inline-block text-lg px-4 py-2 leading-none border rounded text-white border-white hover:text-gray-200 hover:bg-blue-900 mt-4"
      >
        For Partners
      </button>
    </div>
  </div>
</div>
<div class="relative p-8" style="padding-top: 12vmin;">
  <div class="custom-shape-divider-top-1599893662">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
        opacity=".25"
        class="shape-fill"
      ></path>
      <path
        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
        opacity=".5"
        class="shape-fill"
      ></path>
      <path
        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
  <div class="p-8">
    <div class="mx-auto max-w-screen-xl">
      <p>
        As these section dividers are quite exotic, we should try to only have
        one visible on the screen initially.
      </p>
    </div>
  </div>
</div>
<div class="p-8">
  <div class="mx-auto max-w-screen-xl">
    <p class="text-4xl">Calendar</p>
    <app-calendar [events]="events"></app-calendar>
  </div>
</div>
<div class="bg-gray-800 p-8">
  <div class="text-white mx-auto max-w-screen-xl">
    <div class="flex justify-between">
      <div>
        <p class="font-medium mb-2">Address</p>
        <p class="mb-2">Erasmus Student Network Deutschland e.V.</p>
        <p class="mb-2">
          c/o International Office Ruhr <br />Universität Bochum
          <br />Universitätsstraße 150 <br />44780 Bochum
        </p>
        <p class="mb-4">
          Vereinsregisternummer: <br />VR 3762 – Amtsgericht Bochum
        </p>
        <p class="font-medium mb-2">E-Mail</p>
        <p>board@esn-germany.de</p>
      </div>
      <div>
        <p class="font-medium">Links</p>
        <a>Impressum</a>
      </div>
      <div>
        <p class="font-medium">External Links</p>
        <p>ESNcard.org</p>
      </div>
    </div>
  </div>
</div>
