<div class="gap-10 grid grid-cols-1 lg:grid-cols-3 bg-gray-300">
  <div
    class="flex flex-row neu-card overflow-hidden"
    *ngFor="let event of events"
  >
    <div class="block text-center w-24 border-r flex flex-col justify-between">
      <div class="bg-{{ event.typeColor }}-500 text-white py-1">
        {{ event.month }}
      </div>
      <div class="pt-1">
        <span class="text-4xl font-bold">{{ event.dayNumber }}</span>
      </div>
      <div class="pb-2 px-2 flex justify-between">
        <span class="text-xs font-bold">{{ event.dayName }}</span>
        <span class="text-xs font-bold">{{ event.year }}</span>
      </div>
    </div>
    <div class="p-4">
      <p class="text-base font-medium">{{ event.name }}</p>
      <p class="text-xs font-bold">
        {{ event.start | date }} - {{ event.end | date }}
      </p>
      <markdown [data]="event.description" class="prose"></markdown>
    </div>
  </div>
</div>
