<div class="bg-cover bg-center header-image p-8 relative">
  <app-navigation></app-navigation>
  <div class="absolute left-8 right-8 bottom-8" style="bottom: 6vmin;">
    <div class="max-w-screen-xl mx-auto flex flex-col items-start space-y-4">
      <p class="text-4xl text-black font-medium">
        <span class="bg-white">About our organization</span>
      </p>
    </div>
  </div>
  <div class="custom-shape-divider-bottom-1599900706">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
    </svg>
  </div>
</div>
<div class="bg-blue-800 relative p-8">
  <div class="text-white mx-auto max-w-screen-xl space-y-4">
    <h1 class="text-4xl">What is ESN?</h1>
    <p>
      Right now I'm really not sure if this should be the first thing anyone is
      going to read about us. We should make sure to put the most essential info
      about esn germany right here since there's a chance people are actually
      still reading at this point.
      <br />
      Some very interesting text about what esn is and what we do all day, it's
      vitally important that we have a whole bunch of pictures and/or
      illustrations on this page to make it more interesting to look at. <br />
      This text should also share the screen with at least one illustration,
      maybe in white monochrome colors.
    </p>
  </div>
</div>
