<div class="bg-cover bg-center header-image p-8 relative">
  <app-navigation></app-navigation>
  <div class="absolute left-8 right-8 bottom-8" style="bottom: 6vmin;">
    <div class="max-w-screen-xl mx-auto flex flex-col items-start space-y-4">
      <p class="text-4xl text-black font-medium">
        <span class="bg-white p-x-8">About our organization</span>
      </p>
    </div>
  </div>
  <div class="custom-shape-divider-bottom-1599900706">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
    </svg>
  </div>
</div>
<div class="bg-blue-800 relative p-8">
  <div class="text-white mx-auto max-w-screen-xl space-y-4">
    <h1 class="text-4xl">What is ESN Germany?</h1>
    <p>
      The Erasmus Student Network Germany, a non-profit student organisation, is
      the consolidation of the German local Erasmus student initiatives and
      their volunteers. Our voluntary members, mostly students, take care of
      approximately 10.600 exchange students every year in about 40 sections all
      over Germany. In Europe, ESN is represented in more than 1000 Higher
      Education Institutions from 42 countries. This makes our organisation one
      of the largest student initiatives in Europe.
    </p>
  </div>
</div>
<div class="p-8">
  <div class="text-black mx-auto max-w-screen-xl space-y-4">
    <h1 class="text-4xl">National Board</h1>
    <p>
      ESN Germany is formed by the National Board. Its purpose is to support the
      local sections in all kinds of topics, to be the link between them and ESN
      International, and to strengthen the German network plus the relationships
      between the sections and their members. Each one of the board members of
      ESN Germany is a volunteer and was elected at our January National
      Assembly by our sections. The current board members are:
    </p>
    <h1 class="text-4xl">National Committees</h1>
    <p>
      The National Committees are formed by ESN volunteers that support the
      board in different dedicated fields. Each committee is linked to a board
      position. Click here to learn more about them
    </p>
  </div>
</div>
